<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAO.Properties.Settings.HotelManagementConnectionString"
            connectionString="Data Source=DESKTOP-TKMUG3F\SIR;Initial Catalog=HotelManagement;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>